<div style="margin-top: 30px">
	<div>Meta</div>
	<div><input type="text" id="nuMeta" money-mask money-mask-prepend="$" ng-model="$parent.nuMeta"></div>
</div>
<div>
	<div>Tasa de rendimiento anual (%)</div>
	<div><input type="text" id="nuTasaPlan" ng-model="$parent.nuTasaPlan"></div>
</div>
<div>
	<div>Plazo de inversión (en años)</div>
	<div><input type="text" id="nuPeriodoRetiro" ng-model="$parent.nuPeriodoRetiro"></div>
</div>
<div id="opcionalesPlan" ng-click="mostrarOpcionalesPlan()">Más <span class="fa fa-caret-down"></span></div>
<div ng-show="$parent.sonVisiblesOpcionalesPlan">
	<div>Aportación periódica</div>
	<div><input type="text" id="nuAportacionPlan" money-mask money-mask-prepend="$" ng-model="$parent.nuAportacionPlan"></div>
</div>
<div ng-show="$parent.sonVisiblesOpcionalesPlan">
	<div>Periodicidad (en meses)</div>
	<div><input type="text" id="nuPeriodicidadPlan" ng-model="$parent.nuPeriodicidadPlan"></div>
</div>
<div>
	<div style="width: 50%"></div>
	<div style="width: 40%">
		<!--
		<button ng-click="calcularPlan()">Calcular</button>
		<button ng-click="borrar()">Borrar</button>
		-->
		<span class="fa fa-calculator" style="cursor: pointer; font-size: 30" ng-click="calcularPlan()" title="Calcular"></span>
		<span class="fa fa-eraser" style="cursor: pointer; font-size: 30" ng-click="borrar()" title="Borrar campos"></span>
	</div>
</div>