<html ng-app="app">
<head>
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"  type="text/css" media="all" />
	<link rel="stylesheet" href="styles/styles.css">

	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>-->
    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="angular/rw-money-mask.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="controller">
	<h1 ng-class="{'presionadoH1':presionadoH1}">InvestCalc</h1>

	<nav ng-class="{'presionadoNav':presionadoNav}">
		<div ng-click="verContenido('/meta')" ng-class="{'presionadoMeta':presionadoMeta}">Por Meta</div>
		<div ng-click="verContenido('/plan')" ng-class="{'presionadoPlan':presionadoPlan}">Por Plan</div>
	</nav>

	<br>
	
	<section ng-view></section>
</body>
</html>