body{
	font-family: 'Cabin', sans-serif;
}

h1 {
	margin-left: 33%;
	margin-top: 20%;
}

nav {
	height: 30px;
	line-height: 30px;
	margin-left: 33%;
	width: 500px;
}

.presionadoNav {
	margin-left: 10%;
}

.presionadoH1 {
	margin-left: 10%;
	margin-top: 0%;
}

nav div {
	background-color: #34495e;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	height: 100%;
	text-align: center;
	width: 45%;
	vertical-align: 50%;
}

nav div:nth-child(2){
	margin-left: 10px;
}

nav div:hover {
	--background-color: #e74c3c;
	--color: #FFFFFF;
}

section {
	background-color: #ecf0f1;
	box-shadow: 10px 10px 10px #CCCCCC;
	height: 300px;
	margin-left: 10%;
	width: 80%;
}

section > div {
	float: left;	
}

#campos, #camposPlan {
	height: inherit;
	margin-left: 10px;
	width: 49%;
}

#resultados, #resultadosPlan {
	background-color: #34495e;
	border-radius: 20px;
	color: #ecf0f1;
	height: 60%;
	margin-left: 50px;
	margin-top: 75px;
	width: 40%;
}

section div div {
	--float: left;
	height: 10%;
	width: 100%;
}

section div div div {
	float: left;
	height: inherit;
	width: 50%;
}

input {
	width: 200px;
}

#opcionales, #opcionalesPlan {
	cursor: pointer;
	width: 10%;
}

.presionadoPlan, .presionadoMeta {
	background-color: #e74c3c;
}